@font-face {
    font-family: new;
    src: url(./NeueHaasDisplayBold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: new;
}

html,
body {
    height: 100%;
    width: 100%;
}

.main {
    /* background-color: #000; */
    position: relative;
    z-index: 10;
}

.page1 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    position: relative;
    padding: 0 2vw;
}

nav {
    padding: 2vw 0vw;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
    justify-content: space-between;
}

.nav-part-2 {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.nav-part-2 h3 {
    padding: 10px 20px;
    border: 1px solid #0000003c;
    border-radius: 50px;
    font-weight: 500;
    color: #000000bb;
    transition: all ease 0.4s;
    position: relative;
    font-size: 18px;
    overflow: hidden;
}

.nart-2 h3 a {
    text-decoration: none;
    font-size: 1vw;
    color: #00000082;
    border: 1px solid #000;
    border-radius: 100px;
    padding: 1vw 2vw;
}

.nav-part-2 h3::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
}

.nav-part-2 h3:hover::after {
    bottom: 0;
    border-radius: 0;
}

.nav-part-2 h3 a {
    color: #000000bb;
    text-decoration: none;
    position: relative;
    z-index: 9;
}

.nav-part-2 h3:hover a {
    color: #fff;
}

.elem2 {
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1vw 1vw;
    border-bottom: .1vw solid black;
}

.elem2 .left {
    width: 30%;
}

.elem2 .left p {
    font-size: 2vw;
    font-weight: 700;
    font-family: new;
    color: #000000;
}

.elem2 .right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
}

.elem2 .right h1 {
    font-size: 11vw;
    font-family: new;
    text-align: right;
    margin-right: 2.5vw;
    line-height: 9vw;
    font-weight: 700;
}

.page1 video {
    position: relative;
    border-radius: 30px;
    margin-top: 4vw;
    width: 100%;
}

.hero-shape {
    position: absolute;
    width: 46vw;
    height: 36vw;
    right: 0;
    top: 82vh;
}

.hero-1 {
    background-color: #FE320A;
    height: 100%;
    width: 100%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(10px);
    position: absolute;
}

.hero-2 {
    background: linear-gradient(#FE320A, #fe3f0a);

    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    position: absolute;
    animation-name: anime2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    filter: blur(25px);
}

.hero-3 {
    background: linear-gradient(#FE320A, #fe3f0a);
    height: 30vw;
    position: absolute;
    width: 30vw;
    border-radius: 50%;
    filter: blur(25px);
    animation-name: anime1;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes anime1 {
    from {
        transform: translate(55%, -3%);
    }

    to {
        transform: translate(0%, 10%);
    }
}

@keyframes anime2 {
    from {
        transform: translate(5%, -5%);
    }

    to {
        transform: translate(-20%, 30%);
    }
}

.page2 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 8vw 0;
    position: relative;
}

.text-moving {
    overflow-x: auto;
    white-space: nowrap;
}

.text-moving::-webkit-scrollbar {
    display: none;
}

.con {
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.text-moving h1 {
    font-size: 9vw;
    /* background-color: lightblue; */
    display: inline-block;
    margin-top: 2vw;
}

.golu {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: inline-block;
    background-color: #FE320A;
    margin: 1vw 2vw;
}

@keyframes move {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}